.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-80%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
    transform: translateX(0);
}

.nav-link{
    color: #ededed;
    font-size: 17px;
    font-weight: 600;
}

.nav-link:hover{
    color: #ededed;
    text-shadow: 1px 1px 5px #ededed31;
    font-size: 18px;
    transition: 0.2s;
}


/*footer*/ 

.title-footer{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.section-footer li{
    list-style: none;
    text-align: start;
    padding: 8px 0px 8px 0px;
}

.section-footer li a{
    text-decoration: none;
    color: white;
}


.section-footer li i{
    color: white;
    padding: 0px 10px 0px 0px;
}