.title-sections{
    color: #131313;
    font-weight: 700;
    margin-bottom: 60px;
    font-size: 38px;
    text-align: center;
    margin-top: 100px;
}

.title-sections > span{
    color: #3794BD;
}

.title-case{
    color: #3A0F78;
    font-weight: bold;
    font-size: 25px;
}

#formulario-fr{
    background-color: #3A0F78;
    color: white;
    padding: 100px 0px;
    margin: 100px 0px 10px 0px;
}

.btn-enviar-fb{
    margin: auto;
    display: flex;
    padding: 8px 30px;
    background-color: white;
    color: #3A0F78;
    font-weight: bold;
    border: 1px solid #3A0F78;
    box-shadow: 1px 1px 10px 1px #7d20ff17;
    border-radius: 8px;
}

.btn-enviar-fb:hover{
    background-color: #3794BD;
    color: white;
    transition: 0.3s;
}

.input-group-text {
    background-color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    color: #696969;
    padding: 6px 0px 6px 8px;
}

.title-sections-fr{
    font-size: 25px !important; text-align: center;
    font-weight: bold
}

.title-sections-fr > span{
    color: #3794BD;
}

@media screen and (max-width: 992px) {
    .cases{
        display: flex;
        flex-direction: column-reverse;
    }

    .title-case{
        text-align: center;
    }

    .container-case{
        text-align: justify;
    }
}

